@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  align-items: center;
  background: #3a3939;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  
}

.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: #33bcee;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 300px;
  border-radius: 35px 0px 0px 40px; /* editable */

  background-size: cover;
  
  
}
.left-container h1 {
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 24px;
}
.left-container h1 i {
  background: #33bcee;
  border-radius: 50%;
  color: #807182;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  transform: rotate(-45deg);
}




.right-container {
  background: #ffffff;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
  border-radius: 0px 20px 20px 0px;
}
.right-container h1:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 500;
}
.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  
  
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.right-container input,
.right-container label {
  color: rgba(0, 0, 0, 0.8);
}
.right-container header {
  padding: 40px;
}
.right-container label,
.right-container input,
.right-container .pets-photo {
  width: 176px;
}
.right-container .pets-photo {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}
.right-container .pets-photo button {
  border: none;
  border-radius: 50%;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 38px;
}


.right-container .pets-photo button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
.right-container .pets-weight .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container footer {
  align-items: center;

  display: grid;
  padding: 5px 40px;
}
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 350px;
  border-radius: 19px;
  font-family: 'Poppins';
  backdrop-filter: blur(50px);
  background-color: #33bcee;
  
}


.right-container footer #next {
  background: #807182;
  border: 1px solid transparent;
  color: #fff;
}
.right-container footer #next:hover {
  background: #171a2b;
}

.pets-name label,
.pets-breed label,
.pets-birthday label,
.pets-gender label,
.pets-spayed-neutered label,
.pets-weight label {
  display: block;
  margin-bottom: 5px;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
}

.radio-container input[type=radio] {
  display: none;
}

.radio-container input[type=radio]:checked + label {
  background: #f7b1ab;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: #38c629;
  transition: 0.2s all ease-in-out;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .signup-container {
    grid-template-areas:
      "left"
      "right";
    max-width: 100%;
    
  }
  .left-container,
  .right-container {
    width: 100%;
    border-radius: 0;
    
  }
  .left-container img {
    padding: 0px 0;   /* editable */
    width: 500px;
    height: 629.44px;
  }
  .right-container {
    padding: 20px;
  }
  .right-container header {
    padding: 20px;
  }
  .right-container .set {
    flex-direction: column;
  }
  .right-container label,
  .right-container input,
  .right-container .pets-photo {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
